<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <div class="card card-register">
        <div class="card-body">
            <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">로그인 ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="status" value="not logged in" readonly/>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-6">
                    <a class="btn btn-light btn-block" type="button" href="/login">로그인</a>
                </div>
                <div class="form-group col-sm-6">
                    <a class="btn btn-light btn-block" type="button" href="/member/join">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/dist/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>