<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">회원가입</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="wrapper py-5 bg-light">
    <div class="container">
        <div class="card card-register">
            <div class="card-header" th:text="${title}">회원가입</div>
            <div class="card-body">
                <form action="/member/join" th:action="@{/member/join}" th:object="${member}" method="post">
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label">아이디</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="username" id="username"
                                   th:field="*{username}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">패스워드</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" id="password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">이름</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" id="name" th:field="*{name}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-3 col-form-label">핸드폰</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="phone" id="phone" th:field="*{phone}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">이메일</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="email" id="email" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <button class="btn btn-primary btn-block" type="submit">확인</button>
                        </div>
                        <div class="form-group col-sm-6">
                            <button class="btn btn-secondary btn-block" type="button" onclick="history.back()">취소
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/dist/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>